## Characteres. 

In this notebook, I will download the data from the table characters. 

This table has four columns, id, message_id, document_name, charac. 



| name | Description|
|:-----|:----------|
|id| Key data|
|message_id| A unique identifier that define the instance of the text |
|document name|The name of the file that contains the text| 
|charac| The characters that appear in this text|

# Imports

In [4]:
# To haver acces to the data base
import psycopg2

In [5]:
# To build the data frame
from library import to_dataframe

## Conexion

Define the conexion to the Postgres container.

It is necesari to know the internal IP

In [6]:
# Define the conexion to the Postgres container.
# It is necesari to know the internal IP

conexion = psycopg2.connect( 
    host="192.168.178.35",
    port=5432,
    database="seed",
    user="postgres",
    password="postgres")

In [7]:
# Conected to the server
cursor=conexion.cursor()

## Download the whole dataset

In [8]:
# We will donwload the whole of the data
sql="select * from characters"

In [9]:
# Execute the SQL
cursor.execute(sql)

In [10]:
columns = ['id','message_id', 'document_name', 'charac']

In [11]:
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

Number of rows: 3126

In [12]:
df = to_dataframe(cursor, columns)

In [13]:
df

,id,message_id,document_name,charac
0,1,d18fb65fa8456136b0282be29bdd1e399fbd82c4168935...,d18fb65fa8456136b0282be29bdd1e399fbd82c4,Dany
1,2,d18fb65fa8456136b0282be29bdd1e399fbd82c4168935...,d18fb65fa8456136b0282be29bdd1e399fbd82c4,Grace
2,3,d18fb65fa8456136b0282be29bdd1e399fbd82c4168935...,d18fb65fa8456136b0282be29bdd1e399fbd82c4,Irri
3,4,d18fb65fa8456136b0282be29bdd1e399fbd82c4168935...,d18fb65fa8456136b0282be29bdd1e399fbd82c4,Jorah
4,5,d18fb65fa8456136b0282be29bdd1e399fbd82c4168935...,d18fb65fa8456136b0282be29bdd1e399fbd82c4,Belwas
...,...,...,...,...
3121,3122,9330edb6f28dad5111de357b3d4c98bdb80abe93168936...,9330edb6f28dad5111de357b3d4c98bdb80abe93,Durin
3122,3123,9330edb6f28dad5111de357b3d4c98bdb80abe93168936...,9330edb6f28dad5111de357b3d4c98bdb80abe93,Gandalf
3123,3124,9330edb6f28dad5111de357b3d4c98bdb80abe93168936...,9330edb6f28dad5111de357b3d4c98bdb80abe93,Gimli
3124,3125,9330edb6f28dad5111de357b3d4c98bdb80abe93168936...,9330edb6f28dad5111de357b3d4c98bdb80abe93,Legolas
3125,3126,9330edb6f28dad5111de357b3d4c98bdb80abe93168936...,9330edb6f28dad5111de357b3d4c98bdb80abe93,Galadriel

# Test if we loaded each doc only one time

In [14]:
sql = "select document_name,  count( distinct message_id) from characters group by document_name"

In [15]:
sql

'select document_name,  count( distinct message_id) from characters group by document_name'

In [16]:
# Execute the SQL
cursor.execute(sql)

In [17]:
df = to_dataframe(cursor, ['document_name', 'count message_id'])

In [18]:
df

                                document_name count message_id
0    004aab8bc8b0e9ba14d9138f7834b234509197ad                1
1    0183264782e9cc4aa4c4e235f64d82ba65c3d90d                1
2    026a5be8641edcca63922b0a838cda01e28d5121                1
3    05fa990adc72ba1582c76ba1d2a716fb57fe0197                1
4    0833c080bb485fd87d8f9cb6cee5fc0c6f3d2e71                1
..                                        ...              ...
267  fc86170f4532fcadb123335351375c5704b7531b                1
268  fcdb3e60c469baceb040bf52ebd34727ba5d5883                1
269  fdd9df368481c023e88486431268dae983ac7055                1
270  fe9207cae6b763f4efc13c50528881d254fa492e                1
271  ffa4c410a4c892b62eb2f35cbdfa1e1e8f8a1729                1

[272 rows x 2 columns]