## Documents

In this notebook, I will download the data from the table Documents. 

This table has four columns, id, message_id, document_name, time, readers, saga. 



| name | Description|
|:-----|:----------|
|id| Key data|
|message_id| A unique identifier that define the instance of the text |
|document name|The name of the file that contains the text| 
|time| Message timestamp  |
|readers | Number of readers of the document. |
|saga | Saga to which the document belongs. |

# Imports

In [ ]:
# To haver acces to the data base
import psycopg2

In [ ]:
# To build the data frame
from library import to_dataframe

## Conexion

Define the conexion to the Postgres container.

It is necesari to know the internal IP

In [ ]:
# Define the conexion to the Postgres container.
# It is necesari to know the internal IP

conexion = psycopg2.connect( 
    host="192.168.178.35",
    port=5432,
    database="seed",
    user="postgres",
    password="postgres")

In [ ]:
# Conected to the server
cursor=conexion.cursor()

## Download the whole dataset

In [ ]:
# We will donwload the whole of the data
sql="select * from documents"

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
columns = ['id','message_id', 'document_name', 'time', 'readers', 'saga']

In [ ]:
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

In [ ]:
df = to_dataframe(cursor, columns)

In [ ]:
df

# How many readers have each saga?

In [ ]:
sql = "select saga,  sum( readers) from documents group by saga order by 2 desc"

In [ ]:
sql

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, ['saga', 'count readers'])

In [ ]:
df

# Minimum and Maximun time

In [ ]:
from datetime import datetime

In [ ]:
sql = "select min(time), max(time) from documents"

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, ['Min', 'Max'])

In [ ]:
df

In [ ]:
print('The old data are since {}'.format(datetime.fromtimestamp(df['Min'][0])))

In [ ]:
print('The new data are from {}'.format(datetime.fromtimestamp(df['Max'][0])))

# Data before "14-07-2023 01:00:00"

In [ ]:
# Python program to convert
# date to timestamp

import time


string = "14-07-2023 01:00:00"

element = datetime.strptime(string,"%d-%m-%Y %H:%M:%S")
timestamp = time.mktime(element.timetuple())

print(timestamp)

In [ ]:
sql = "select * from documents where saga = 'hp' and time<{} order by readers desc".format(timestamp)

In [ ]:
sql

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, columns)

In [ ]:
df

In [ ]:
print('The old data are since {}'.format(datetime.fromtimestamp(df['time'].min())))

In [ ]:
print('The new data are from {}'.format(datetime.fromtimestamp(df['time'].max())))

In [ ]:
sql = "select * from documents where saga = 'hp' and time>{} order by readers desc".format(timestamp)

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, columns)

In [ ]:
df

In [ ]:
print('The old data are since {}'.format(datetime.fromtimestamp(df['time'].min())))

In [ ]:
print('The new data are from {}'.format(datetime.fromtimestamp(df['time'].max())))