## Join the data

We will join the data from both tables.

# Imports

In [ ]:
# To haver acces to the data base
import psycopg2

In [ ]:
# To build the data frame
from library import to_dataframe

## Conexion

Define the conexion to the Postgres container.

It is necesari to know the internal IP

In [ ]:
# Define the conexion to the Postgres container.
# It is necesari to know the internal IP

conexion = psycopg2.connect( 
    host="192.168.178.35",
    port=5432,
    database="seed",
    user="postgres",
    password="postgres")

In [ ]:
# Conected to the server
cursor=conexion.cursor()

## Download the whole dataset

In [ ]:
# We will donwload the whole of the data
sql="select d.message_id, d.document_name, d.time, d.readers, d.saga, c.charac  from documents as d inner join characters as c on d.document_name = c.document_name"

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
columns = ['message_id', 'document_name', 'time', 'readers', 'saga', 'charac']

In [ ]:
# How many data?
print('Number of rows: {}'.format(cursor.rowcount))

In [ ]:
df = to_dataframe(cursor, columns)

In [ ]:
df

# How many readers have each charac?

In [ ]:
sql="select c.charac, d.saga, sum(d.readers) from documents as d inner join characters as c on d.document_name = c.document_name group by 1,2 order by 3 desc limit 25"

In [ ]:
sql

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, ['charac', 'saga', 'num. readers'])

In [ ]:
df

# Samwise Gamgee's readers

Referred to as 'Sam'

In [ ]:
sql="select c.charac, d.saga,d.document_name, d.readers from documents as d inner join characters as c on d.document_name = c.document_name where (saga = 'lotr') and (charac='Sam') order by readers desc"

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, ['charac', 'saga', 'Doc. Name' ,'readers'])

In [ ]:
df

Referred to as 'Sam Gamgee'

In [ ]:
sql="select c.charac, d.saga,d.document_name, d.readers from documents as d inner join characters as c on d.document_name = c.document_name where (saga = 'lotr') and (charac='Sam Gamgee') order by readers desc"

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, ['charac', 'saga', 'Doc. Name' ,'readers'])

In [ ]:
df

## Note. 

We have a mistake in the tokenization; we didn't think about the characters with names and surnames.

It is necessary to resolve this horrible mistake.

Referred to as 'Sam' or 'Sam Gamgee'

In [ ]:
sql="select c.charac, d.saga,d.document_name, d.readers from documents as d inner join characters as c on d.document_name = c.document_name where (saga = 'lotr') and ((charac='Sam Gamgee')or(charac='Sam')) order by readers desc"

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, ['charac', 'saga', 'Doc. Name' ,'readers'])

In [ ]:
df

In [ ]:
sql="select c.charac, d.saga, sum(d.readers) from documents as d inner join characters as c on d.document_name = c.document_name where (saga = 'lotr') and ((charac='Sam Gamgee')or(charac='Sam'))group by 1,2 order"

# Samwise Gamgee's total readers

In [ ]:
sql="select c.charac, d.saga, sum(d.readers) from documents as d inner join characters as c on d.document_name = c.document_name where (saga = 'lotr') and (charac='Sam') group by 1,2 order by 3 desc"

In [ ]:
# Execute the SQL
cursor.execute(sql)

In [ ]:
df = to_dataframe(cursor, ['charac', 'saga', 'readers'])

In [ ]:
df